<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Base</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

.
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top navbar-expand-lg">

      <div class="container">
        <ul class="nav navbar-nav">
          <li> <a class="navbar-brand" href="{%url 'index' %}"><strong>Ejada</strong> </a> </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Our Customers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          {%if user.is_authenticated %}
          <li class="nav-item">
            <a class="nav-link" href="{%url 'admin:index' %}">Admin<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">HR System</a><!--ADD TIMESHEET - Vacation Request using Dropdown list-->
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Travel System</a><!--ADD apply request - booking tickets - and expense claim - and approval from manager  using Dropdown list-->
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{%url 'deal_app:main' %}">Tableau Deals</a>
          </li>
          <li> <a class="navbar-link" href="{% url 'logout'%}">Logout</a></li>
          {%else%}
          <li> <a class="navbar-link" href="{% url 'user_app:user_login'%}">Login</a></li>
          <li class="nav-item" style="float:right">
            <a class="nav-link" href="{%url 'user_app:sign_up'%}">Sign Up</a>
          </li>
          {%endif%}
        </ul>
      </div>
    </nav>


    <div class="container">
      {%block body_block%}
      {% endblock%}

    </div>
  </body>
</html>
